@model LMS_grupp1.Models.Activity

@{
    ViewBag.Title = "Aktivitet";
}
<div>
    <h2>Aktivitet: @Model.Name</h2>
</div>
<div>
    <h4>Material</h4> <hr />
</div>

<div>
    @* @Html.ActionLink("Tillbaka till kurslista", "Index", "Groups", new { id = Model.GroupId }, null) *@
    <a href="@Url.Action("Details", "Courses", new { id = Model.CourseId })" class="btn btn-own btn-thin">
        <span class="glyphicon glyphicon-arrow-up glyph-lg" aria-hidden="true"></span>
    </a></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}








