@{
    ViewBag.Title = "Bekräftelse av återställt lösenord";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Ditt lösenord är återställt. @Html.ActionLink("Klicka här för att logga på", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
